h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, li {
    margin: 0;
    padding-left: 0;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
	display: block;
	max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    padding-top: 24px;
    padding-bottom:24px;
}

.header-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 24px auto;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-span {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #2E2F42;
    font-style: medium;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}

.nav-list:focus, .nav-list:hover {
    color: #404BBF;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #434455;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    font-style: normal;
}

.address-link:hover, .address-link:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.hero-container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: #FFFFFF;
    font-style: bold;
    background-color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    font-style: medium;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    text-align: center;
    width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
}

.button:hover, .button:focus {
    background-color: #404BBF;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.benefits-section {
    padding: 120px 0;
}

.benefits {
    flex-basis: calc((100% - 3 * 224px) / 4);
}

.benefits-text {
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
}

.benefits-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2E2F42;
    font-style: medium;
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2E2F42;
    font-style: bold;
    background-color: #F4F4FD;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.team-li {
    background-color: #FFFFFF;
}

.team-img {
    background-color: #FFFFFF;
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2E2F42;
    font-style: medium;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}

.team-text {
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 156px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    background-color: #2E2F42;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #2E2F42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-span {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #2E2F42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.portfolio {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2E2F42;
    font-style: bold;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    font-style: medium;
    letter-spacing: 0.02em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}

